<mat-card class="mat-card">
  <form #userForm="ngForm" class="user-form" (ngSubmit)="authenticateUser(userForm.value)">
    <mat-card-subtitle>Employee Management</mat-card-subtitle>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput name="username" [(ngModel)]='user.username'>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput name="password" [(ngModel)]='user.password'>
  </mat-form-field>
  
  <button mat-raised-button type="submit" color="primary">Login</button>
</form>
</mat-card>


